snippet pce
package com.example.${1:packageName}
endsnippet

snippet class
public class ${1:className} {

}
endsnippet

snippet sout
System.out.println(${1});
endsnippet

snippet souf
System.out.printf(${1});
endsnippet
